section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  color: white;
  background: rgb(28, 28, 28);
  transition: background 0.75s ease;
}

button:hover {
  background: rgb(31, 204, 204);
}
